<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load static %}
    <title>Chimjoy</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
    <style>
                .whatsapp-widget {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #128c7e;
            border-radius: 50%; /* Make it circular */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            z-index: 9999;
            overflow: hidden;
        }

        /* WhatsApp Widget Hover State */
        .whatsapp-widget:hover {
            background-color: #128c7e;
        }

        /* WhatsApp Icon */
        .whatsapp-widget img {
            width: 50px; /* Adjust the width and height as needed */
            height: 50px;
            display: block;
        }

    </style>
</head>

<body>
    <div id="wrapper">
        
        <!-- page preloader begin -->
        <!-- <div id="de-preloader"></div> -->
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+2348077880262</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>hq@chimjoylogistics.com.ng</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 7:00am - 10:00pm</a></div>
                        </div>
                    </div>
                
                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="{% url 'home' %}">
                                            <img class="logo-1" src="{% static 'images/chimjoylogo.png' %}" alt="" width="100px" height="50px">
                                            <img class="logo-2" src="{% static 'images/chimjoylogo.png' %}" alt="" width="100px" height="50px">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'booking' %}">Book A Ride</a></li>
                                    <li><a class="menu-item" href="{% url 'cars' %}">Rent A Car</a></li>
                                    <li><a class="menu-item" href="{% url 'about' %}">About Us</a></li>
                                    <li>
                                        <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'dashboard' %}">My Account</a>
                                        <ul>
                                            <li><a class="menu-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                                            <li><a class="menu-item" href="{% url 'profilee' %}">My Profile</a></li>
                                            <li><a class="menu-item" href="{% url 'orders' %}">My Orders</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="{% url 'logoutt' %}" class="btn-main">Log out</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="{% url 'home' %}">
                                            <img class="logo-1" src="{% static 'images/chimjoylogo.png' %}" alt="" width="100px" height="50px">
                                            <img class="logo-2" src="{% static 'images/chimjoylogo.png' %}" alt="" width="100px" height="50px">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'booking' %}">Book A Ride</a></li>
                                    <li><a class="menu-item" href="{% url 'cars' %}">Rent A Car</a></li>
                                    <li><a class="menu-item" href="{% url 'about' %}">About Us</a></li>
                                    <li>
                                        <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'dashboard' %}">My Account</a>
                                        <ul>
                                            <li><a class="menu-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                                            <li><a class="menu-item" href="{% url 'profilee' %}">My Profile</a></li>
                                            <li><a class="menu-item" href="{% url 'orders' %}">My Orders</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="{% url 'loginn' %}" class="btn-main">Sign In</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>
        <!-- header close -->
        
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="https://images.unsplash.com/photo-1578452171578-a605cb38abe1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Get in Touch with us</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <section aria-label="section">
                <div class="container">
						<div class="row g-custom-x">
							
							<div class="col-lg-8 mb-sm-30">

							 <h3>For inquiries, reservations, or to experience our exceptional car hire services, please don't
                                hesitate to contact us</h3>
							
        						<form name="contactForm" id="contact_form" class="form-border" method="post" action="#">
                                        <div class="row">
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" name="Name" id="name" class="form-control" placeholder="Your Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" name="Email" id="email" class="form-control" placeholder="Your Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone" required>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="field-set mb20">
                                            <textarea name="message" id="message" class="form-control" placeholder="Your Message" required></textarea>
                                        </div>
                                        <div class="g-recaptcha" data-sitekey="6LdW03QgAAAAAJko8aINFd1eJUdHlpvT4vNKakj6"></div>
                                        <div id='submit' class="mt20">
                                            <input type='submit' id='send_message' value='Send Message' class="btn-main">
                                        </div>

                                        <div id="success_message" class='success'>
                                            Your message has been sent successfully. Refresh this page if you want to send more messages.
                                        </div>
                                        <div id="error_message" class='error'>
                                            Sorry there was an error sending your form.
                                        </div>
                                    </form>
						</div>
						
						<div class="col-lg-4">

							<div class="de-box mb30">
								<h4>Head Office</h4>
								<address class="s1">
									<span><i class="id-color fa fa-map-marker fa-lg"></i>65 Christ Church Road, Owerri, Imo State.</span>
									<span><i class="id-color fa fa-phone fa-lg"></i>+2348077880262</span>
									<span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">hq@chimjoylogistics.com.ng </a></span>
								</address>
							</div>


							<div class="de-box mb30">
								<h4>Branch Office</h4>
								<address class="s1">
									<span><i class="fa fa-map-marker fa-lg"></i>103 Wetheral Road, Owerri, Imo State</span>
									<span><i class="fa fa-phone fa-lg"></i>+2348077880262</span>
									<span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">hq@chimjoylogistics.com.ng </a></span>
								</address>
							</div>

						</div>
							
						</div>
					</div>

            </section>

        </div>
        <!-- content close -->

        <!-- WhatsApp Widget Overlay Container -->
        <div id="whatsapp-widget" class="whatsapp-widget">
            <a href="https://api.whatsapp.com/send?phone=2349023900833" target="_blank">
                <img src="{% static 'images/ww.png' %}" alt="WhatsApp">
            </a>
            <div class="whatsapp-header">
                 
                <span id="whatsapp-close" class="whatsapp-close"></span><!--&times;-->
            </div>
        </div>


        <a href="#" id="back-to-top"></a>
        
       <!-- footer begin -->
       <footer class="text-light">
        <div class="container">
            <div class="row g-custom-x">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5>About Chimjoy</h5>
                        <p>Welcome to ChimJoy Car Hire, We are proud to be a subsidiary of 
                            Chimjoy Logistics Services Limited, a leading logistics firm 
                            operating in Owerri, Nigeria. At ChimJoy Car Hire, we are dedicated to 
                            bridging the gap between the untrusted high-priced car hire services and the 
                            numerous unorganized mediocre taxis that operate within Owerri Airport.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="widget">
                        <h5>Contact Info</h5>
                        <address class="s1">
                            <span><i class="id-color fa fa-map-marker fa-lg"></i>Corporate Office: 65 Christ Church Road, Owerri, Imo State.</span>
                            <span><i class="id-color fa fa-phone fa-lg"></i>+2348077880262</span>
                            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:hq@chimjoylogistics.com.ng">hq@chimjoylogistics.com.ng</a></span>
                        </address>
                    </div>
                </div>

                <div class="col-lg-3">
                    <h5>Quick Links</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget">
                                <ul>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'cars' %}">Cars</a></li>
                                    <li><a href="{% url 'registerr' %}">Register</a></li>
                                    <li><a href="{% url 'booking' %}">Booking</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h5>Social Network</h5>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <a href="{% url 'home' %}">
                                    <p> Copyright @  Chimjoy logistics 2023 All rights reserved!</p>
                                       <p>designed by <a href="https://bestlinkdigitaltech.com/" target="_blank" style="cursor: pointer; color: #007bff;"> Best Link Digital Tech</a></p>
                                    </a>
                            </div>
                            <ul class="menu-simple">
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </footer>
       <!-- footer close -->
        
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script>
        // JavaScript to show and hide the WhatsApp widget
        document.getElementById('whatsapp-widget').style.display = 'none';

        document.getElementById('whatsapp-widget').addEventListener('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            window.open(this.querySelector('a').href);
        });

        document.getElementById('whatsapp-close').addEventListener('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            document.getElementById('whatsapp-widget').style.display = 'none';
        });

        // Show the widget after a delay (e.g., 10 seconds)
        setTimeout(function () {
            document.getElementById('whatsapp-widget').style.display = 'block';
        }, 1000);

    </script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static '../../../www.google.com/recaptcha/api.js' %}" async defer></script>
    <script src="{% static 'form.js' %}"></script>
</body>
</html>